# Your PostgreSQL connection string (REQUIRED IN PRODUCTION)
DATABASE_URL=postgresql://neondb_owner:npg_czYNxay56goA@ep-curly-poetry-awcpayva-pooler.c-12.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Your JWT secret (REQUIRED IN PRODUCTION)
JWT_SECRET=7fK9vQ2mX8rL4zN6pT1wY5aH3cJ9sE7uB2dF8gM6

# Password for AES encryption of stored tokens (REQUIRED IN PRODUCTION)
AES_PASSWORD=N4xP7kR2vL9mQ5sT8wC3jH6zA1fD9yG4bV7eK2uM
