# Your PostgreSQL connection string (REQUIRED IN PRODUCTION)
# Example: postgresql://user:password@host:port/database
DATABASE_URL=

# Your JWT secret (REQUIRED IN PRODUCTION)
JWT_SECRET=

# Password for AES encryption of stored tokens (REQUIRED IN PRODUCTION)
AES_PASSWORD=
